{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{% block content %}
<div class="container center-content">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-3 shadow">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="text-center">
                <h4>Change password</h4>
              </div>
              </br>
              <div class="mb-3">
                <label class="form-label" for="old_password">Old password:</label>
                <input name="old_password" id="old_password" class="form-control" placeholder="Please enter your old password" type="password">
              </div>
              <div class="mb-3">
                <label class="form-label" for="password1">New password:</label>
                <input name="new_password1" id="password1" class="form-control" placeholder="Please enter your password" type="password">
              </div>
              <div class="mb-3">
                <label class="form-label" for="conf-password">Confirm password:</label>
                <input name="new_password2" id="conf-password" class="form-control" placeholder="Please enter one more time the password" type="password">
              </div>
              <div class="container text-left">
                <div class="row">
                  <div class="text-center">
                    <input class="btn float-end shadow btn-primary px-4" type="submit" value="Change">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}