{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{% block content %}
<div class="container center-content">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="">
          <div class="card mt-3 shadow">
            <div class="card-body">
                <div class="text-center py-2">
                    <h1>Delete account</h1>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>Are you sure you want to delete the account {{ user.email }}?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <br>
                    <p>No, keep my account</p>
                    <a href="{% url 'profile' %}" class="btn btn-outline-primary">Return to Profile</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}