{%extends 'base.html'%}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{%block content%}
<div class="container center-content">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-3 shadow">
            <div class="card-body">
				<form method="post">
					{% csrf_token %}
					<h2 class="text-center">Reset Password</h2>
					{% for field in form %}
						<div class="row my-3">
							<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" for="email">{{ field.label_tag }}</label>
							<div class="col-sm-10">
								<input name="email" id="email" type="email" class="form-control form-control-lg" placeholder="Please enter your email">
							</div>
					  	</div>
						{% if field.errors %}
							<small>{{ field.errors|striptags  }}</small> 
						{% endif %}
					{% endfor %}
					<div class="form-buttons mt-3">
						<div class="d-flex justify-content-between">
							<input type="submit" value="Send" class="btn btn-primary">
							<a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	  </div>
	</div>
  </div>
{%endblock content%}