{%extends 'base.html'%}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{%block content%}
<div class="container center-content">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-3 shadow">
            <div class="card-body">
				<form method="post">
					{% csrf_token %}
					<h2>Password Reset Confirm</h2>
					{% for field in form %}
						<label class="form-label" for="password{{ forloop.counter }}">{{ field.label_tag }}</label>
						<input name="new_password{{ forloop.counter }}" id="password{{ forloop.counter }}" class="form-control" placeholder="Please enter your password" type="password">
						<br>
						{% if field.errors %}
							<small>{{ field.errors|striptags  }}</small> 
						{% endif %}
					{% endfor %}
					<div>
						<button type="submit" class="btn btn-primary">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
	  </div>
	</div>
  </div>
{%endblock content%}