{%extends 'base.html'%}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{%block content%}
<div class="card center center-content">
	<img src="{% static 'images/success.png' %}" class="rounded mx-auto d-block w-50" alt="Success">
	<div class="text-center py-2">
		<p>Your password has been changed successfully. Please <a href="{% url 'login' %}">Login</a></p>
	</div>
</div>
{%endblock content%}