{%extends 'base.html'%}
{% load static %}

{% block css %}
  <link rel="preload" as="style" href="{% static 'css/center.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{%block content%}
<div class="card center-content w-75">
	<img src="{% static 'images/reset.png' %}" class="rounded mx-auto d-block w-25 mt-3" alt="Reset">
	<div class="text-center py-2">
		<p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
		<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder</p>
	</div>
</div>
{%endblock content%}