{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-3 shadow">
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                  <h4>Registration</h4>
                </div>
                </br>
                <div class="mb-3">
                  <label class="form-label" for="email">Username:</label>
                  <input name="username" id="username" class="form-control" placeholder="Please enter your username" type="text" value="{{ username }}">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="email">Email:</label>
                  <input name="email" id="email" class="form-control" placeholder="Please enter your email" type="email" value="{{ email }}">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="password">Password:</label>
                  <input name="password1" id="password" class="form-control" placeholder="Please enter your password" type="password">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="conf-password">Confirm password:</label>
                  <input name="password2" id="conf-password" class="form-control" placeholder="Please enter one more time password" type="password">
                  {% if password_mismatch %}
                  <small class="text-danger">You entered not the same password!</small>
                  {% endif %}
                </div>
                <div class="container text-left">
                  <div class="row">
                    <div class="col-auto">
                      <p>If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
                    </div>
                    <div class="col-auto">
                      <input class="btn float-end shadow btn-primary px-4" type="submit" value="Register">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}