{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link rel="preload" as="style" href="{% static 'css/style.css' %}" onload="this.rel = 'stylesheet'"/> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
  </head>
  <body class="text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="">
              <div class="card mt-3 shadow">
                <div class="card-body">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                      <h4>Login</h4>
                    </div>
                    </br>
                    <div class="mb-3">
                      <input name="username" class="form-control" placeholder="Username" type="text">
                    </div>
                    <div class="mb-3">
                      <input name="password" class="form-control" placeholder="Password" type="password">
                    </div>
                    <input class="btn float-end shadow btn-primary px-4" type="submit" value="Login">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
