{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row justify-content-start">
        <div class="col-4">
            <h4>Sample schema</h4>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-link">Edit schema</button>
        </div>
    </div>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Column name</th>
            <th scope="col">Column type</th>
        </tr>
        </thead>
        <tbody>
        {% for column in columns %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ column.name }}</td>
            <td>{{ column.get_type_display }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-between mb-4">
          <div class="col p-0">
            <h4>Data sets</h4>
          </div>
          <div class="col">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="rows" class="col-form-label">Rows:</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="rows" name="rows" class="form-control">
                </div>
                <div class="col-auto">
                    <button id="generate-data" type="submit" class="btn btn-success">Generate data</button>
                </div>
            </div>
          </div>
    </div>
    <table id="data-table" class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody id="table-body">
          {% for file in files %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ file.date|date:"Y-m-d" }}</td>
              <td class="status-cell" style="display:flex;">
                <div style="background-color: #1a9f03; border-radius: 5px; padding: 5px; color: white;">Ready</div>
              </td>
              <td><a href="/media/{{ file.name }}">Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </form>
  <script>
    $(document).ready(function() {

      var rowCount = $('#table-body tr').length;

      $('form').on('submit', function(event) {
        event.preventDefault();

        var formData = $(this).serialize();

        // Find the status and actions cells of the new row
        var statusCell, createdCell, actionsCell;

        $.ajax({
            type: 'POST',
            url: '{% url "data_sets" name=schema_name %}',
            data: formData,
            beforeSend: function(xhr) {
              // Create a new row for the new file
              var newRow = `
              <tr>
                <th scope="row">${rowCount + 1}</th>
                <td class="created-cell"></td>
                <td class="status-cell" style="display:flex;">
                  <div style="background-color: #6b6c6b; border-radius: 5px; padding: 5px; color: white;">Processing</div>
                </td>
                <td></td>
              </tr>
              `;

              // Append the new row to the table
              $('#table-body').append(newRow);

              // Set the cells variables for further updates
              statusCell = $('#table-body tr:last-child .status-cell');
              createdCell = $('#table-body tr:last-child .created-cell');
              actionsCell = $('#table-body tr:last-child td:last-child');
            },
            success: function(response) {
              createdCell.text(response.date);
              statusCell.html(`<div class="status-cell" style="background-color: #1a9f03; border-radius: 5px; padding: 5px; color: white;">Ready</div>`);
              actionsCell.html(`<a href="/media/${response.name}">Download</a>`);
            },
            error: function(xhr) {
              console.log(xhr.responseText);

              createdCell.text('Error');
              statusCell.text('Error').removeClass('status-cell').addClass('error-cell');
            }
        });

        rowCount++;
      });
    });
  </script>
{% endblock %}