{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="preload" as="style" href="{% static 'css/home.css' %}" onload="this.rel = 'stylesheet'"/> 
{% endblock %}

{% block content %}
<div class="upper">
  <div class="upper-text">
    <h1 class="display-4">Welcome to FakeCSV!</h1>
    <p class="lead">Create new schemas with customizable options and build data schemas with any number of columns of any type.</p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'data_schemas' %}" role="button">Get Started</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Get Started</a>
    {% endif %}
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2 class="text-center">Why Choose FakeCSV?</h2>
    <div class="row section-content">
      <div class="col-md-4">
        <div class="feature-card">
          <div class="feature-icon text-center">
            <span class="bi bi-puzzle"></span>
          </div>
          <h3 class="text-center">Flexible Schema Creation</h3>
          <p>Create new data schemas with ease. Define the columns and their data types effortlessly.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="feature-icon text-center">
            <span class="bi bi-code"></span>
          </div>
          <h3 class="text-center">Customizable Options</h3>
          <p>Customize your data schema with additional constraints and options as per your requirements.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="feature-icon text-center">
            <span class="bi bi-table"></span>
          </div>
          <h3 class="text-center">Build Data Schema</h3>
          <p>Build your data schema by adding any number of columns of different types. Edit and manage them easily.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container section-content">
  <h2 class="text-center">How It Works</h2>
  <div class="row">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="d-flex h-100 align-items-center">
                <div>
                    <h3>Step 1: Create Schema</h3>
                    <p>Start by creating a new data schema. Define the column names, data types, and constraints.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/image_1.jpg' %}" alt="Step 1" class="img-fluid rounded">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'images/image_2.jpg' %}" alt="Step 2" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <div class="d-flex h-100 align-items-center">
                <div>
                    <h3>Step 2: Build Data Schema</h3>
                    <p>Build your data schema by adding columns. You can also modify, delete, or rearrange them as needed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}